.app {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	overflow: hidden;

	&__overlay {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-color: rgba(#000, .5);
		cursor: pointer;
		@include transition(opacity);
		display: none;
		opacity: 0;
	}

	&__settings {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: calc(100vw - 160px);
		max-width: 600px;
		z-index: 199;
		transform: translate(100%, 0);
		@include transition();
		will-change: transform;
		&[aria-hidden=false] {
			transform: translateX(0);
			@include box-shadow;
		}
	}

	&__map {
		position: fixed !important;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	&__content {
		position: fixed;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		max-width: 800px;
		background-color: #fff;
		z-index: 250;
		overflow: auto;
		@include transition();
		transform: translateX(100%);
		will-change: transform;
		&[aria-hidden=false] {
			transform: translateX(0);
			@include box-shadow;
		}
	}
}
