.controls {
	position: fixed;
	&--logo,
	&--menu,
	&--settings {
		display: block;
		font-size: calc(1.1rem + 1.1vmin);
		z-index: 200;
	}

	&--logo {
		top: $space_item;
		left: $space_item;
		width: 4em;
		color: c();
	}

	&--menu {
		bottom: $space_item;
		left: $space_item;
		z-index: 1000;
	}

	&--settings {
		bottom: $space_item;
		right: $space_item;
		.hello-icon:first-child {
			display: none;
		}
		&[data-close='true'] {
			.hello-icon {
				display: none;
			}
			.hello-icon:first-child {
				display: block;
			}
		}
	}
}
