.menu {
	&__toggler {
		position: relative;
	}

	&__links {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		margin-left: -1.6em;
		margin-top: -1.6em;
	}
}

.menu[data-state=open] .menu {
	&__links {
		transform: translate(170%, 10%);
		&--information {
			transform: translate(-10%, -170%);
		}
		&--markerplus {
			transform: translate(120%, -120%);
		}
	}
}