.park {
	&__header {
		background: c(secondary);
		padding-bottom: percentage(1/3);
		position: sticky;
		overflow: hidden;
	}

	&__title, &__love {
		color: #fff;
		font-size: $font-size-h1;
	}

	&__title {
		font-size: $font-size-h1*.75;
		@include desktop {
			font-size: $font-size-h1;
		}
	}

	&__image {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__heading {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		display: flex;
		padding: $space-item $space-section;
		justify-content: space-between;
		align-items: flex-end;
		overflow: hidden;
	}

	&__love {
		margin-left: $space-section;
		font-size: $font-size-h1;
	}

	&__body {
		padding: $space-section;
		> * + * {
			margin-top: $space-section;
		}
	}

	&__content {
		> * + * {
			margin-top: $space-item;
		}
	}

	&__loader {
		text-align: center;
		padding-top: 15vh;
		&:after {
			content: '';
			@include spinner(5rem, 6px solid c());
		}
	}
}