.weather {
	& > * + * {
		margin-top: 10px;
	}

	&__icon {
		font-size: 4rem;
	}

	&__heading {
		font-size: 1.6rem;
	}

	&__description {
		display: none;
		font-size: $font-size-small;
	}

	&__temp {
		display: block;
		margin-top: 20px;
		font-size: $font-size-small * .8;
		font-weight: 700;
	}

	@include desktop {
		&__icon {
			font-size: 5rem;
		}
		&__heading {
			font-size: 2rem;
		}
		&__description {
			display: block;
			font-size: $font-size-small;
		}
	}
}