.content {
	margin-bottom: $space-section * 2;
	&__navigation {
		display: flex;
		padding: 0 $space-item;
		position: sticky;
		top: 0;
		background-color: #fff;
		font-size: $font-size-small;
		justify-content: space-between;
		@include desktop {
			font-size: $font-size;
			justify-content: flex-start;
		}
	}

	&__link {
		display: block;
		padding: $space-item;
		position: relative;
		&:after {
			content: '';
			bottom: $space-item * 0.8;
			left: $space-item;
			right: $space-item;
			position: absolute;
			border-bottom: 2px solid c();
			opacity: 0;
			transform: translateY(5px);
			@include transition();
		}
		&--active:after {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__title {
		padding: $space-item $space-item * 2;
	}

	&__loader {
		text-align: center;
		padding-top: 15vh;
		&:after {
			content: '';
			@include spinner(5rem, 6px solid c());
		}
	}

	&__content {
		padding: $space-item $space-item * 2;
		> * + * {
			margin-top: 1em;
		}
	}

	&__form {
		margin-top: $space-section * 2 !important;
		margin-bottom: $space-section !important;
		padding: 0 $space-section;
		margin: 0 auto;
		max-width: 400px;
	}
}
