.form {
	& > * + * {
		margin-top: $space-item;
	}

	&__element {
		position: relative;

		&--controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__input,
	&__label {
		width: 100%;
		padding: $space-item/2 0;
		line-height: 120%;
		cursor: pointer;
	}

	&__label {
		position: absolute;
		left: 0;
		top: 0;
		@include transition();
		transform-origin: left top;
	}

	&__input {
		border: none;
		border-bottom: 4px solid c(black, light);
		outline: none;
		@include transition();
		&:focus {
			border-bottom-color: c(secondary);
		}
	}

	&__input:focus,
	&__input[has-value='true'] {
		& + .form__label {
			transform: scale(0.6) translateY(-35%);
		}
	}

	&__control {
		&--pwreset {
			margin-right: auto;
			font-size: $font-size-small;
		}
	}

	&__privacy-info {
		font-size: $font-size-small;
	}

	&__feedback {
		background-color: c(secondary);
		padding: $space-item * 0.5 $space-item * 0.75;
		p {
			color: #fff;
			font-size: $font-size-small;
		}
		&--error {
			background-color: c(danger);
		}
	}
}
