.parks-map {

	&__loader {
		position: absolute;
		left: 50%;
		background-color: #fff;
		@include box-shadow;
		width: 4rem;
		height: 4rem;
		top: 3rem;
		margin-left: -1.5rem;
		@include desktop {
			top: 4rem;
			width: 5rem;
			height: 5rem;
			margin-left: -2.5rem;
		}
		z-index: 100;
		border-radius: 50%;
		@include transition();
		&:after {
			content: '';
			@include spinner(60%, .3rem solid c());
			@include desktop {
				@include spinner(60%);
			}
			top: 20%;
			left: 20%;
			position: absolute;
		}

		transform: translateY(-200%);
		opacity: 0;
		&[aria-hidden=false] {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__map {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}
}