$font: 'Cairo', sans-serif;
$font_heading: 'Cairo', sans-serif;

$font-size: 2rem;
$font-size-small: 1.6rem;
$font-size-large: 2.4rem;

$font-size-h1: 3.5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;