.button {

	cursor: pointer;
	@include box-shadow();
	background-color: c(secondary);
	color: #fff;

	&:hover {
		@include box-shadow-hover();
	}

	&--icon {
		display: block;
		width: 3.2em;
		height: 3.2em;
		position: relative;
		border-radius: 50%;
		svg {
			width: 1.6em;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -.8em 0 0 -.8em;
		}
	}

	&--small {
		font-size: .6em;
	}
}
