.button {
	cursor: pointer;
	@include box-shadow();
	background-color: c(secondary);
	color: #fff;
	padding: 0.5em 1em;

	&:hover {
		@include box-shadow-hover();
		transform: translateY(-1%);
	}

	&--icon {
		display: block;
		width: 3.2em;
		height: 3.2em;
		position: relative;
		border-radius: 50%;
		padding: 0;

		.hello-icon {
			font-size: 2em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&--has-icon {
		.hello-icon {
			transform: translateY(0.2em) scale(1.4);
			margin-right: 0.5em;
		}
	}

	&--small {
		font-size: 0.6em;
	}

	&--round {
		border-radius: 3em;
	}

	// Color
	&--white {
		background-color: #fff;
		color: c();
		border: 1px solid #fff;
	}

	&--danger {
		background-color: #fff;
		color: c(danger);
		border: 1px solid #fff;
	}

	&--transparent {
		background-color: transparent;
		color: c();
		border: none;
		box-shadow: none;
		margin-left: -1em;
		&:hover {
			box-shadow: none;
			transform: translateY(0);
		}
	}

	&--link {
		color: c(secondary);
		background-color: transparent;
		text-align: left;
		display: inline-block;
		box-shadow: none;
		border: none;
		padding: 0 0;
		&:hover {
			box-shadow: none;
			transform: translateY(0);
			color: c();
		}
	}

	position: relative;
	&:after {
		@include transition();
		content: '';
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -0.6em;
		margin-left: -0.6em;
		@include spinner(1.2em, 3px solid #fff);
	}

	&:disabled,
	&--loading {
		color: transparent !important;
		cursor: default;
		pointer-events: none;
		&:after {
			opacity: 1;
		}
	}
}
