.o-helloform {
	& > * + * {
		margin-top: $space-item;
	}

	&__element {
		position: relative;
		display: flex;
		flex-direction: column;

		&--controls {
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__input,
	&__label {
		line-height: 120%;
		cursor: pointer;
	}

	&__label {
		position: absolute;
		left: 1.6rem;
		top: 2.5rem;
		@include transition();
		transform-origin: left top;
		background-color: transparent;
		transform: scale(1) translateY(-50%);
		span {
			display: inline-block;
			position: relative;
			&:before {
				content: '';
				z-index: -1;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				right: -.7rem;
				left: -.7rem;
				top: 0;
			}
			background-color: #fff;
		}
	}

	&__input {
		width: 100%;
		//border: none;
		padding: 1.5rem 1.4rem 1.3rem 1.4rem;
		border: 1px solid c(black, light);
		border-radius: 4px;
		outline: none;
		@include transition();
		&:hover {
			border-color: c();
		}
		&:focus {
			border-color: c(secondary) !important;
			& + .o-helloform__label {
				color: c(secondary, dark) !important;
			}
		}
	}

	&__input:focus,
	&__input[has-value='true'] {
		& + .o-helloform__label {
			transform: scale(0.7) translateY(-195%) translateX(-3px);
			color: rgba(c(black), .8);
		}
	}

	&__control {
		&--pwreset {
			margin-right: auto;
			font-size: $font-size-small;
		}
	}

	&__privacy-info {
		font-size: $font-size-small;
	}

	&__feedback {
		background-color: c(secondary);
		padding: $space-item * 0.5 $space-item * 0.75;
		p {
			color: #fff;
			font-size: $font-size-small;
		}
		&--error {
			background-color: c(danger);
		}
	}

	// Checkbox
	&__element--type-checkbox {
		.o-helloform {
			&__input {
				opacity: 0;
				position: absolute;
			}
			&__input:focus,
			&__input[has-value='true'] {
				& + .o-helloform__label {
					transform: scale(1) translateY(0) translateX(0);
					color: rgba(c(black), .8);
				}
			}
			&__label {
				position: relative;
				padding: .5em 0 .5em 1.5em;
				left: 0;
				top: 0;
				//transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
				transform: scale(1) translateY(0) translateX(0);
				transform-origin: center center;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					width: 1em;
					height: 1em;
					border: 1px solid c();
					border-radius: 2px;
					transform: translateY(-50%);
				}
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					@include transition(opacity);
					transform: translateY(-60%) translateX(50%) scale(.7) rotate(45deg);
					opacity: 0;
					width: .5em;
					height: 1em;
					border-bottom: 2px solid #fff;
					border-right: 2px solid #fff;
				}
			}
			&__input:checked {
				& + .o-helloform__label {
					color: c();
					&:before {
						background-color: c(secondary);
						border-color: c(secondary);
					}
					&:after {
						opacity: 1;
					}
				}
			}
			&__input:focus {
				& + .o-helloform__label {
					&:before {
						@include box-shadow();
					}
				}
			}
		}
	}
}
