.o-helloform {
	& > * + * {
		margin-top: $space-item;
	}

	&__element {
		position: relative;
		display: flex;
		flex-direction: column;

		&--controls {
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__input,
	&__label {
		line-height: 120%;
		cursor: pointer;
	}

	&__label {
		position: absolute;
		left: 1.6rem;
		top: 2.5rem;
		@include transition();
		transform-origin: left top;
		background-color: transparent;
		transform: scale(1) translateY(-50%);
		span {
			display: inline-block;
			position: relative;
			&:before {
				content: '';
				z-index: -1;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				right: -.7rem;
				left: -.7rem;
				top: 0;
			}
			background-color: #fff;
		}
	}

	&__input {
		width: 100%;
		//border: none;
		padding: 1.5rem 1.4rem 1.3rem 1.4rem;
		border: 1px solid c(black, light);
		border-radius: 4px;
		outline: none;
		@include transition();
		&:hover {
			border-color: c();
		}
		&:focus {
			border-color: c(secondary) !important;
			& + .o-helloform__label {
				color: c(secondary, dark) !important;
			}
		}
	}

	&__input:focus,
	&__input[has-value='true'] {
		& + .o-helloform__label {
			transform: scale(0.7) translateY(-195%) translateX(-3px);
			color: rgba(c(black), .8);
		}
	}

	&__control {
		&--pwreset {
			margin-right: auto;
			font-size: $font-size-small;
		}
	}

	&__privacy-info {
		font-size: $font-size-small;
	}

	&__feedback {
		background-color: c(secondary);
		padding: $space-item * 0.5 $space-item * 0.75;
		p {
			color: #fff;
			font-size: $font-size-small;
		}
		&--error {
			background-color: c(danger);
		}
	}
}
